.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.lemon {
    background: #FCF5C7;
}

.lemon-text {
    color: #A0CED9;
}

.purple {
    background: #5B3758;
}

.purple-text {
    color: aliceblue;
}


.some {
    background: lightgreen;
}

.some-text {
    color: darkslateblue;
}