.blue {
  border-bottom: 5px solid blue;
}

.green {
  border-bottom: 5px solid green;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testSpanError {
  color: blue;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}
